.titleorange  .inline-title {
	color:#fd902b !important;
}
.titleyellow .inline-title {
	color:#e6b625 !important;
}
.titleorange .inline-title {
	color:#e6b625 !important;
}
.titlegreen  .inline-title {
	color:#91ecdb !important;
}
.titleblue .inline-title {
	color:#2fb6ef !important;
}
.titlepurple .inline-title {
	color:#8836f3 !important;
}
.titlepink .inline-title {
	color:#eb2796 !important;
}
.titlered .inline-title {
	color:#e31919 !important;
}
.titlegray .inline-title {
	color:#7c7f82 !important;
}
.titlebrown .inline-title {
	color:#e19974 !important;
}