.orange  .inline-title {
	color:#fd902b !important;
}
.yellow .inline-title {
	color:#e6b625 !important;
}
.orange .inline-title {
	color:#e6b625 !important;
}
.green  .inline-title {
	color:#91ecdb !important;
}
.blue .inline-title {
	color:#2fb6ef !important;
}
.purple .inline-title {
	color:#8836f3 !important;
}
.pink .inline-title {
	color:#eb2796 !important;
}
.red .inline-title {
	color:#e31919 !important;
}
.gray .inline-title {
	color:#7c7f82 !important;
}
.brown .inline-title {
	color:#e19974 !important;
}